/*Base CSS*/
a:hover{text-decoration: none !important;}
a:focus{outline:0 solid; text-decoration: none !important;}
input:focus, button:focus, textarea:focus, a:focus{outline: none;}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0 0 15px;
    font-weight: normal;
    font-family: 'CODELight',sans-serif;
}


/*End Base CSS*/

h1,h2{
  text-align: center;
}
h1{
    padding-top:100px;
}

img{
  max-width:100%;
  height:auto;
  background: lightblue;
  background: radial-gradient(white 30%, lightblue 70%);
}
.fa-star,
.fa-star-half{
  color:yellowgreen;
  padding: .3%;
}

/*navber styling*/

.container-fluid.nav-wrapper {
  background-color: #333;
  position: relative;
  margin: 0;
  padding: 0;
}
.container-fluid.nav-wrapper h3 {
  padding: 10px;
}

i.fas.fa-shopping-basket {
  padding-right: 11px;
  color: white;
}

h3.px-5 {
  color: white;
}
.header-right {
  text-align: right;
  color: white;
  padding: 11px;
  margin-top: 5px;
  margin-right: 10%;
}

span.text-warning.bg-light {
  border-radius: 9px;
  padding: 0 7px;
}